@using FlyableHours.Data;
@using FlyableHours.Helpers;
@{
    if (ViewBag.LocationName != null && !ViewBag.LocationName.Equals(""))
    {
        ViewBag.Title = "FlyTime@" + ViewBag.LocationName;
    }
    else
    {
        ViewBag.Title = "FlyTime" + ViewBag.LocationName;
    }
}

<div class="jumbotron">
    <h1>FlyTime</h1>
    <p class="lead">FlyTime is a tool to estimate flyable hours based on weather forecasts for locations.</p>
</div>

<div class="row">
    @foreach (var Location in ViewBag.Result)
    {
        if (Location.ForecastPeriods != null)
        {
            <p>
                <h2>
                    Forecast for <a href="@Location.ForecastUrl@Html.Raw("hour_by_hour.html")">@Location.ForecastLocationName</a>
                </h2>
            </p>
        <p>
            @{
                String sunStatus = "";
                if(Location.PolarNight){
                    sunStatus = "Polar Night!";
                } else if (Location.MidnightSun) {
                    sunStatus = "Midnight Sun!";
                } else {
                    sunStatus = "Sunrise: " + @Location.SunRise + " Sunset: " + @Location.SunSet;
                }
            }
            @sunStatus
        </p>
        }

        if (Location.ForecastPeriods == null)
        {
            //No result to display. Do nothing
        }
        else if (Location.ForecastPeriods.Count > 0)
        {
            <table border="0">
                <tr>
                    <th align="left">Time&nbsp;</th>
                    <th>&nbsp;Wind speed&nbsp;</th>
                    <th>&nbsp;Temp&nbsp;</th>
                    <th>&nbsp;Wind chill&nbsp;</th>
                    <th>&nbsp;Forecast&nbsp;</th>
                </tr>
                @foreach (var period in Location.ForecastPeriods)
                {
                    <tr>
                        <td align="left">@period.PeriodStart.DayOfWeek@Html.Raw(" ")@period.PeriodStart.ToString("d MMM HH:mm" + "-")@period.PeriodEnd.ToString("HH:mm")</td>
                        <td align="center">@period.ForecastWindSpeed</td>
                        <td align="center">@period.ForecastTemperature</td>
                        <td align="center">@WeatherHelper.CalculateWindChill(period.ForecastTemperature, period.ForecastWindSpeed)</td>
                        <td align="center"><img src="http://symbol.yr.no/grafikk/sym/b30/@period.SymbolString@Html.Raw(".png")" alt="@period.Forecast" title="@period.Forecast" /></td>
                    </tr>
                }
            </table>
            <br />
            <a href="@Location.CreditUrl">@Location.CreditText</a>
        }
        else
        {
            <p>No flyable hours</p>
        }

    }
</div>
<div class="row">
    <hr />
    Paste or type a link to a forecast overview page from the web-version of <a href="http://www.yr.no">yr.no</a>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.Label("URL ");<text> </text>
        @Html.TextBox("URL", null, new { @style = "width: 400px; max-width: 400px;" });
        <text>For example: <a href="http://www.yr.no/place/Sweden/Stockholm/Västberga/">http://www.yr.no/place/Sweden/Stockholm/Västberga/</a> </text>  <br />
        @Html.Label("Max windspeed (meter/sec) ");<text> </text>
        @Html.TextBox("windspeed", "4.0");
        <text>For example: 4.0 or just 4</text>   <br />
        @Html.Label("Min temperature (Celsius) ");<text> </text>
        @Html.TextBox("minTemp", "-5");
        <text>For example: 4.0 or just 4</text>   <br />
        @Html.Label("Include foggy periods ");<text> </text>
        @Html.CheckBox("includeFog", true);       <br />
        <button type="submit" formmethod="get">Submit</button>
    }

</div>