@using FlyableHoursWeb.Models;
@{
    ViewBag.Title = "Slopes";
}

    <h2>Slopes</h2>

        <table border="1">
            @*<tr>
                <th>Slope</th>
                <th>Forecast<br/>Location</th>
            </tr>*@
            @foreach (var Slope in Model)
            {
                <p>
                    <a href="@Slope.FlyingSiteInfoUrl">@Slope.FlyingSiteName</a>, forecast for <a href="@Slope.ForecastUrl@Html.Raw("hour_by_hour.html")">@Slope.ForecastLocationName</a> with winddirection: @Slope.PreferredWindDirectionMin - @Slope.PreferredWindDirectionMax degrees<br/>
                    <pre>@Slope.TextForecast</pre>
                </p>
                @*foreach (var period in Slope.ForecastPeriods)
                {*@
                    @*<td bgcolor=@(period.ForecastWindDirection<225&&period.ForecastWindDirection>135 ? "\"#FF0000\"" : "\"#00FF00\"")>@period.ForecastWindDirection/@period.ForecastWindSpeed</td>*@
                @*
                    <tr bgcolor="#@(Convert.ToDouble(period.ForecastWindDirection)>225.0 ? "FF0000" : "00FF00")">
                        @period.ForecastWindDirection/@period.ForecastWindSpeed
                    </tr>
                }*@
            }
        </table>
        @*<p>
            @Slope.LocationName;
        </p>*@

